style
  include:stylus index.styl

if results.length > 0
  ul
    each result in results
      li
        if current == result.title
          span.current= result.title
        else
          a(href = result.link)= result.title
else
  slot
