@require "vogue"
@import "https://cdn.jsdelivr.net/npm/prismjs@1.15.0/themes/prism.min.css"

:host
  reset block

  &(.tabular)

    :not(pre) code
      type monospace small

  :last-child
    margin-bottom 0

.content
  article h1 h2 h3 h4 h5 p ul li blockquote pre code
  dashkite link table header toc code figure

  hydrogen-toc
    type body

  header
  hydrogen-toc
  pre
    margin-bottom 4rem
